
            body{
	background-image: url(fotos/anime.jpeg);
	background-repeat: no-repeat;
        margin: 0 auto; 
        background-color: rgb(79,222,238);
}
#wrapper{
	width: 276px;
	margin:249px auto;
	padding: 50px;
	border-radius: 50px;
background-color: rgba(56,181,222,0.6);
border: 2px solid #000;
}
button{
    position:relative;
    top:11px;
    left:80px;
    background-color: rgb(153,29,201);
}
p{
 position:relative;
    top:11px;
    left:62px;	
}