body{
    background-image: url(fotos/anime4.png);
	background-repeat: no-repeat;
        margin: 0 auto; 
     }
 #wrapper{
	width: 312px;
	margin:203px auto;
	padding: 50px;
	border-radius: 50px;
    background-color: rgba(56,181,222,0.6);
    border: 2px solid #000;
}
button{
    position:relative;
    top:27px;
    left:72px;
}
#aceptar{
    background-color: rgb(181,230,29);
}
#cancelar{
    position:relative;
    top:-14px;
    left:146px;
    background-color: red;
}